body {
    background-color: #252D44;
    color: #FFF;
}

.navbar-default {
    background-color: transparent;
    border: none;
    color: #FFF !important;
}

.navbar-default a,.navbar-default .navbar-text {
    color: #FFF !important;
}

#canvas {
    padding: 0px;
    border: 1px solid #000;
    background-color: #555;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 200;
    display: none;
}

#xpbar {
    height: 10px;
    width: 100%;
}

.progress {
    margin-bottom: 0px;
    border-radius: 0px;
}